.theader {
    white-space: nowrap;
    cursor: pointer;
  }
  
  .arrows {
    margin-left: 5px;
  }
  
  .search-db {
    width: 25%;
  }
  
  .filters {
    width: 50%;
  }
  
  .text-header {
    font-size: xx-large;
    font-weight: 600;
  }
  
  .table-container {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    background-color: #fff;
    margin-top: 40px; 
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .table th {
    background-color: #f8f8f8;
  }
  
  .table-hover tbody tr:hover {
    background-color: #f1f1f1;
  }
